.nav-item__button {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  border-width: 2px solid var(--accent-color-shadow);
  background-color: var(--color-salmon-100);
  box-shadow: 3px 6px 0 var(--accent-color-shadow); /* Inner shadow for depth */
  padding: 0 8px;
}

.nav-item__button:hover,
.nav-item__button-current {
  background-color: #16a34a;
}

.nav-item__title {
  line-height: 40px;
  font-size: 14px;
  color: var(--color-blue-800);
}
