.nav-item__button {
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  border-width: 2px solid var(--accent-color-shadow);
  background-color: var(--color-salmon-100);
  box-shadow: 3px 6px 0 var(--accent-color-shadow);
  padding: 0 4px;
}

@media (min-width: 640px) {
  .nav-item__button {
    gap: 16px;
    padding: 0 8px;
  }
}

.nav-item__button:hover,
.nav-item__button-current {
  background-color: #16a34a;
}

.nav-item__title {
  color: var(--color-blue-800);
}
