.download-button {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  border-width: 2px solid var(--accent-color-shadow);
  box-shadow: 3px 6px 0 var(--accent-color-shadow); /* Inner shadow for depth */
  padding: 0 8px;
  background-color: var(--color-salmon-100);
  color: var(--color-blue-800);
}

.download-button:hover {
  background-color: #16a34a;
}

.iframe {
  height: 270px;
  width: 150px;
  opacity: 1;
}

.iframe-container {
  display: flex;
}

.section {
  gap: 16px;
  @media (min-width: 640px) {
    gap: 32px;
  }
}
