.name {
  text-shadow: 3px 3px 0px var(--accent-color-shadow);
}

.tldr {
  animation: fadeIn 3s ease-in-out;
  text-shadow: 2px 2px 0px var(--accent-color-shadow);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
